/frontend/node_modules
/frontend/.DS_Store

/smart-contract/node_modules
/smart-contract/.env
/smart-contract/coverage
/smart-contract/coverage.json
/smart-contract/typechain

#Hardhat files
/smart-contract/cache
/smart-contract/artifacts
